// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.input{
  padding:5px;
  width: 200px;
}

.form-inline {
  color: #b7864e;
}

.position {
  margin-top: 60px;
}

.cart {
  background-image: url(image_path('i12.jpg'));
  height: 850px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}

 .trans {
  margin-top: 120px;
  background-color: black;
  opacity: 0.8;
  z-index: 0;
}

.cart .text-center {
  text-align: center;
}

.cart .row h3 {
  margin-top: 30px;
  font-family: "Monsieur La Doulaise", cursive;
  font-size: 70px;
  color: white;
}

.hidden { display: none; }

/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}
