header {
  background: #000000;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
}

.no-bullets {
  list-style-type: none;
}

.text-center .navbar {
 text-align: center;
}

.text-center .navbar {
  border-top: 1px solid #b7864e;
  // border-bottom: 1px solid #b7864e;
  padding-top: 25px;
  // padding-bottom: 15px;
}

.text-center .container p {
  margin-top: 50px;
  text-align: center;
  color: white;
  font-size: 70px;
  font-family: "Monsieur La Doulaise", cursive;
}

.text-center .navbar li {
 display: inline;
 margin-right: 35px;
 text-decoration: none;
 text-transform: uppercase;
 color: white;
}

a:link, :visited, :active {
    color: #b7864e;
    text-decoration: none;
 }

 .text-center .navbar li a:hover {
     color: white;
     text-decoration: none;
 }
