// Place all the styles related to the Product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.all-prod {
  margin-top: 230px;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: black;
}

.all-prod .row {
  margin-bottom: 30px;
}

.all-prod .img-prod-categ {
  text-align: left;
  width: 400px;
  height: 400px;
}

.all-prod a:hover {
  color: white;
  text-decoration: none;
}

#name {
  color: #b7864e;
}

.input-field {
    opacity: 0.5;
    width: 100%;
    min-width: 200px;
    background: black;
    color: white;
}
