// Place all the styles related to the Product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-index {
  z-index: -1;
}

.tableIndex {
      border-collapse: collapse;
}

.tableIndex, th, td {
      border: 0px solid black;
}

a:active {
    color: white;
}
