// Place all the styles related to the Product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tableShow {
    border-collapse: collapse;
    width: 400px;
}

th, td {
    margin: 0px;
    padding: 6px;
    text-align: left;
    border-bottom: 1px solid #b7864e;
}
