.cart {
  background-image: url('http://res.cloudinary.com/dpwjutqio/image/upload/v1463050413/i12_s89saz.jpg');
  height: 850px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}

 .trans {
  margin-top: 120px;
  background-color: black;
  opacity: 0.8;
  z-index: 0;
}

.cart .text-center {
  text-align: center;
}

.cart .row h3 {
  margin-top: 30px;
  font-family: "Monsieur La Doulaise", cursive;
  font-size: 70px;
  color: white;
}

.cart p {
  list-style: none;
  // display: inline;
  // text-transform: uppercase;
  color: white;
  font-size: 20px;
}

.cart p a {
  text-transform: uppercase;
}

.cart p a:hover {
  text-decoration: none;
  color: white;
}

.cart .btns {
  padding-left: 40px;
}

.cart .inline {
  display: inline;
  margin-right: 40px;
}

.cart #total {
  color: white;
  padding-bottom: 30px;
}
