<section class="categ">
  <div class="container">
    <div class="transpr">

        <% @categories.each do |category| %>
        <div class="col-md-3">
          <div class="hovereffect">
            <%= image_tag(category.products.last.image,  class: "categimg") %>
              <div class="overlay">
                <p><%= link_to category.name, category_path(category.id) %></p>
              </div>
              <br><br><br>
          </div>
        </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</section>
